header {
  margin: 40px 0;
}
.typeface,
.color,
.forms,
.navBar,
footer {
  margin: 80px 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
  margin: 0;
}

ol {
  padding-left: 0;
}

header li {
  list-style-type: disc;
  margin: 2px;
  line-height: 1.5;
}

.guidelines {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.guideline {
  width: 300px;
  min-width: 180px;
  margin: 20px;
}

/* Typeface Section*/
.merriweather {
  font-family: "Merriweather", serif;
}

.mulish,
.paragraph {
  font-family: "Mulish", sans-serif;
}

.paragraph,
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.headings {
  font-family: "Merriweather", serif;
}

a {
  color: #f05d23;
}

/* Typeface Section*/
/*Color Section*/
.primaryC1 {
  background-color: #f05d23;
}

.primaryC2 {
  background-color: #f05d23b7;
}

.primaryPC1 {
  background-color: #f5743d;
}

.primaryPC2 {
  background-color: #f05d23c2;
}

.accentC1 {
  background-color: #c5d86d;
}
.accentC2 {
  background-color: #abbe74;
}
.accentC3 {
  background-color: #008080;
  color: #fff;
}

.defaultC1 {
  background-color: #260c1a;
  color: #fff;
}

.defaultC2 {
  background-color: #270c1ae1;
  color: #fff;
}
.defaultC3 {
  background-color: #270c1ad6;
  color: #fff;
}
.defaultC4 {
  background-color: #270c1abd;
  color: #fff;
}

.defaultPC1 {
  background-color: #270c1ae3;
}
.defaultPC2 {
  background-color: #270c1ad9;
}
.defaultPC3 {
  background-color: #270c1ab3;
}

.defaultPC4 {
  background-color: #270c1a80;
}
.defaultPC5 {
  background-color: #270c1a66;
}

.primaryC1,
.primaryC2 {
  color: #fff;
}
.primaryPC1,
.primaryPC2,
.primaryPC3,
.primaryPC4 {
  text-align: center;
  margin: 15px 0;
  padding: 40px 0;
  width: 130px;
  color: #fff;
}

.primaryPC3 {
  background-color: #f05d2383;
  color: #000;
}
.primaryPC4 {
  background-color: #e4c3ad;
  color: #000;
}

.defaultPC1,
.defaultPC2,
.defaultPC3,
.defaultPC4,
.defaultPC5,
.defaultPC6 {
  text-align: center;
  margin: 15px 0;
  padding: 40px 0;
  width: 130px;
  color: #fff;
}

.accentC1,
.accentC2,
.accentC3,
.primaryC1,
.primaryC2,
.defaultC1,
.defaultC2,
.defaultC3,
.defaultC4 {
  text-align: center;
  margin: 10px;
  padding: 49px 0;
  border-radius: 50%;
  width: 125px;
}

.lightC {
  color: #000;
}

.colourHeading {
  margin: 10px;
  position: relative;
  left: -10px;
  font-size: 16px;
}
/*Color Section*/

/* Buttons Section*/

.col.buttons.left {
  text-align: right;
}

.col.buttons.right {
  text-align: left;
}
.col.buttons button {
  margin: 12px;
  padding: 12px;
  width: 162px;
  border-radius: 7px;
}

.button1Normal {
  color: #fff;
  border: 1px solid #f5743d;
  background-color: #f5743d;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}

.button1Normal:hover {
  background-color: #f05d23;
  color: #fff;
}

.button1Hover {
  border: 1px solid #f05d23;
  background-color: #f05d23;
  color: #fff;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}

.button2Normal {
  border: 1px solid #009b9b;
  background-color: #009b9b;
  color: #fff;
  transition: all 150ms ease-in-out;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}

.button2Normal:hover {
  border: 1px solid #008080;
  background-color: #008080;
  color: #fff;
}
.button2Hover {
  border: 1px solid #008080;
  background-color: #008080;
  color: #fff;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}

.button4Normal {
  border: 1px solid #e7cbb9;
  background-color: #e7cbb9;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}
.button4Normal:hover {
  border: 1px solid #f05d2307;
  background-color: #f05d2383;
  transition: all 200ms ease-in-out;
}
.button4Hover {
  border: 1px solid #f05d2307;
  background-color: #f05d2383;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}

.button3Normal {
  border: 1px solid #c5d86d;
  background-color: #c5d86d;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
}
.button3Normal:hover {
  border: 1px solid #abbe74;
  background-color: #abbe74;
}

.button3Hover {
  border: 1px solid #abbe74;
  box-shadow: 5px 5px 4px hsla(328, 52%, 10%, 0.582);
  background-color: #abbe74;
}

/* Buttons*/

/* Icon Section*/

.icon {
  font-size: 28px;
  margin: 5px;
}

.icon:hover {
  font-size: 35px;
  color: #f05d23b7;
}

.iconList {
  margin: 15px 0;
}

/* Icon Section*/

/* Forms Section*/
.errorMessage {
  color: red;
}

#error {
  color: red;
  border: 1px solid red;
}

.iconSearch,
.iconLogIn {
  font-size: 22px;
  color: #260c1a;
  position: relative;
  left: -67px;
}

input.form-control.search,
input.form-control.password {
  width: 300px;
}
/* Forms Section*/

/* Nav Bar Section*/
.navbar {
  border: 1px solid #260c1a;
  background-color: #c5d86d;
  color: #260c1a;
  font-family: "Mulish", sans-serif;
}
.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #260c1a;
  font-size: 18px;
}

.navbar-brand {
  color: #260c1a;
}
.navbar-brand:hover {
  color: #260c1a;
}

.input.form-control.me-2 {
  border: 1px solid #c5d86d;
}
/* Nav Bar Section*/
